<div class="container pb-4 mb-5 ">
    <div class="row mb-4">
        <div class="col col-sm-2 col-md-3 col-lg-4 col-xl-5 col-xxl-6">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Add Task</li>
                </ol>
              </nav>        
        </div>
        <div class="col col-sm-2 col-md-3 col-lg-4 col-xl-5 col-xxl-6">
            <h3 class="text-center text-success">Add New Task</h3>   
        </div>
    </div>
    <form action="/dashboard/add" method="post" class="position-relative">
        <div class="form-group mb-4">
            <input type="text" class="form-control border-dark px-3" name="title" id="title" placeholder="Title" required>
        </div>
        <div class="form-group mb-4">
            <textarea class="form-control border-dark p-3" cols="30" rows="12" name="body" id="body" placeholder="Take a task..." required></textarea>
        </div>
        <div class="form-group mb-4">
            <button type="submit" class="btn btn-dark">
                <div class="d-flex align-items-center">
                    <img width="30" height="30" src="/img/save-task.png" alt="icon">
                    <b>Save Task</b>
                </div>
            </button>
        </div>
    </form>
</div>