<style>
    .status-img{
        width: 380px;
        height: 380px;
        object-fit: contain;
    }
    @media (max-width: 400px){
        .status-img{
            width: 280px;
            height: 280px;
        }
    }
</style>
<div class="container">
    <img src="/img/send.png" alt="photo" class="w-100 status-img">
    <h1 class="heading-top text-center">Your Message is send</h1>
    <a href="/dashboard" class="back-link w-100 d-flex justify-content-center">Back</a>
</div>