<div class="container container-fluid mb-5 py-md-5">
    <main>
        <div class="row py-md-5 text-center justify-content-center">
            <div class="col-md-12 col-lg-6 mb-md-0 mb-5">
                <h1 class="display-2 fw-bold mb-4">
                    Remember to write down Taska when needed?
                </h1>
                <p class="fs-4 mb-4">
                    Task is a simple to use free note taking app made with Node.js, Ejs, MongoDB.
                </p>
                <a href="/auth/google" class="btn btn-primary">Try it's free</a>
            </div>

        </div>
    </main>
</div>